@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&family=Great+Vibes&display=swap');
@import "tailwindcss";
:root {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-image: url('./assets/common/BG.svg');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.fancy-script {
  font-family: "Great Vibes", "Playfair Display", cursive;
}

.display-serif {
  font-family: "Playfair Display", "Times New Roman", serif;
}